*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
}

nav{
    display: flex;
    width: 100%;
    height: 40px;
    padding: 30px 20px;
    align-items: center;
    justify-content: space-around;
}

nav h1{
    display: flex;
    position: relative;
    right: 12%;
    top: 2%
}
nav ul{
    display: flex;
    align-items: center;
    gap: 2rem;
}
#rect{
    height: 40vh;
    width: 40vw;
    transform: translate(70%,60%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 2rem;
}
.imageDiv{
    height: 170px;
    width: 100px;
    position: absolute;
    overflow: hidden;
}
img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
}
